@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    body {
        height: 100vh;
    }
}


@layer utilities {
    .flex-center {
        @apply flex items-center justify-center
    }

    .flex-between {
        @apply flex items-center justify-between
    }

    .flex-items {
        @apply flex items-center
    }

    .flex-column {
        @apply flex flex-col
    }

    .center-element-absolute {
        @apply absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]
    }

    .input-style { 
        @apply px-2 py-1 border-[2px] border-gray-500 rounded-[10px];
    }
}